<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EyeUnderstand.mybatis.EyeunderstandMapper">

    
	<select id="memberLogin" parameterType="MemberVO"
		resultType="MemberVO">
		select * from eyemember where ID=#{id, jdbcType=VARCHAR}
		and PW=#{pw, jdbcType=VARCHAR}
	</select>

	<select id="getTestList" parameterType="java.util.Map"
		resultType="WordVO">
		select * from word where words like ('${serchInput}%')
	</select>
	
	<select id="favoriteSelect" parameterType="MemberVO" resultType="FavoriteVO">
		 SELECT favoriteword FROM (SELECT favoriteword FROM favorite WHERE id=#{id, jdbcType=VARCHAR} ORDER BY point DESC) 
		 WHERE ROWNUM BETWEEN 1 AND 5
	</select>
		
	<update id="favoriteInsert" parameterType="FavoriteVO"> 
        MERGE INTO favorite USING DUAL ON (FAVORITEWORD = #{FAVORITEWORD, jdbcType=VARCHAR})
		WHEN MATCHED THEN UPDATE SET POINT = (select POINT from favorite where FAVORITEWORD = #{FAVORITEWORD, jdbcType=VARCHAR})+1
		WHEN NOT MATCHED THEN INSERT (ID, FAVORITEWORD, POINT) VALUES (#{ID, jdbcType=VARCHAR},#{FAVORITEWORD, jdbcType=VARCHAR},#{POINT, jdbcType=INTEGER})
    </update>
    
	<!-- <update id=""></update> -->

</mapper>